<h1>This is our contact page</h1>
<p>Contact us today!</p>

<p>
  Super Rentals Headquarters<br>
  1212 Test Address Avenue<br>
  TestyMcTestington, OR 97233
</p>

<p>(503) 555-1212</p>

{{#link-to 'about'}} Click to view About Us{{/link-to}} <br>
{{#link-to 'index'}} Home{{/link-to}}
